<nav class="nav collapsible">
    <a href="/"> <!-- / means root of website -->
    <img src="images/Logo.svg" alt="" class="logo">
    <h2 class="logo__heading">Cloud Insight</h2>
    </a>
    <svg class="icon icon--white nav__toggler">
        <use href="images/sprite.svg#menu"></use>
    </svg>
    <ul class="list nav__list collapsible__content">
        <li class="nav__item"><a href="#">Hosting</a></li>
        <li class="nav__item"><a href="#">VPS</a></li>
        <li class="nav__item"><a href="#">Domain</a></li>
        <li class="nav__item"><a href="#">Pricing</a></li>
    </ul>
</nav>
<script src="js/main.js"></script>