<section class="block block--dark block--skewed-right block_showcase">
    <header class="block__header">
        <h2>User-friendly Control Panel</h2>
    </header>
    <div class="container grid grid--1x2">
        <img class="block-showcase__image" src="images/ipad.webp" alt="">
        <ul class="list">
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                            <use href="images/sprite.svg#clock"></use>
                              </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Easy  Start & Managed Updates</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, reprehenderit.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                            <use href="images/sprite.svg#growth"></use>
                              </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Staging, GIT & WP-CLI</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, reprehenderit.</p>
                    </div>
                </div>
            </li>
            <li>
                <div class="media">
                    <div class="media__image">
                            <svg class="icon icon--primary">
                            <use href="images/sprite.svg#wordpress"></use>
                              </svg>
                    </div>
                    <div class="media__body">
                        <h3 class="media__title">Dynamic Caching & More</h3>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sit, reprehenderit.</p>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</section>